.app{
  align-items: center;
  text-align: center;
}
h5{
  margin-top: 10px;
}
form{
  background-color: antiquewhite;
}
.form-container{
  /* width: 100%; Takes full width of parent */
  max-width: 400px; /* Restrict form width */
  margin: 50px auto; /* Centers the form horizontally */
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  text-align: center;
}